* {
  margin: 0px;
  /* outline: 0.5px solid rgba(139, 77, 77, 0.342);      */
}

.section {
  display: flex;
  min-height: auto;
  background: #ffffff;
  width: 95%;
  min-width: 250px;
  position: relative;
  margin: 0 auto;
  padding: 3px 0px;
  justify-content: center;
  border: solid 1px rgba(138, 138, 138, 0.514);
}

.section--up {
  margin-top: 4em;
}

.section__h {
  margin: 0.3em  1em 0.3em 1em;  
}


/*-----------section datos ob------------*/

.contain__datosobra {
  height: auto;
  /* padding: 1px; */
  width: 100%;
  margin-top: 5px;
  margin-bottom: 10px;
  padding-top: 10px;
}


.datosobra {
  width: 96%;
  min-width: auto;
  display: flex;
  margin-left: 22px;
  font-size: 17px;
  background: #fff;
  border-bottom: solid 1px rgb(180, 180, 180);
}

.datosobra__titulo {
  width: 20%;
  /* width: ; */
  min-width: max-content;
  padding-right: 10px;
  text-align: right;
}

.datosobra__dato {
  width: 100%;

  padding-left: 11px;
  font-weight: 1;
}


/*-----------titulo porcentajes------------*/

.contain__tablamini {
  padding: 0px;
  padding-left: 88px;
  width: 50%;
  height: auto;
}

.tablamini__titulo {
  background: #12577c;
  color: #fff;
  padding: 3px;
  margin: 0px;
  text-align: center;
  margin-left: 8px;
  width: 85%;
  min-width: 273px;
}


.tablamini{
  font-size: 12px;
  table-layout: auto;
  border-collapse: collapse;
  width: 85%;
  min-width: 85%;
  margin-left: 8px;
}

.tablamini td {
  padding: 2px;
  text-align: center;
  background-color: #ddd6d6;
  background: #fff;
  border-bottom: solid 1px rgb(180, 180, 180);
}


/*------seccion catalogo de conceptos----*/
.sectionTabla {
  position: relative;
  margin: 0 auto;
  margin-top: 14px;
  margin-bottom: 12px;
  height: auto;
  width: 95%;
  min-width: 900px;
  background: #fff;
}

.row__presupMonto {
  width: auto;
  height: 4%;
  background: #a9cde0;
  display: flex;
  justify-content: center;
  padding: 0.7%;
  border: solid 1px rgba(110, 110, 110, 0.1);
}

.presupMonto__titulo {
  width: 80%;
  height: auto;
  top: 50%;
  text-align: center;
}

.presupMonto__monto {
  width: 20%;
  text-align: center;
}



/*------------- tabla presupuesto global-------------*/

.containerTabla {
  padding: 0px;
  width: 100%;
  min-height: 340px;

}

/*------ancho columnas tabla catalogo------*/
.tabla th:first-child {
  width: 6%;
}

.tabla th:nth-child(2) {
  width: 60%;
}

.tabla th:nth-child(3) {
  width: 5%;
}

.tabla th:nth-child(4) {
  width: 7%;
}

.tabla th:nth-child(5) {
  width: 11%;
}

.tabla th:last-child {
  width: 11%;
}

.tabla td:first-child {
  width: 6%;
}

.tabla td:nth-child(2) {
  width: 60%;
}

.tabla td:nth-child(3) {
  width: 5%;
}

.tabla td:nth-child(4) {
  width: 7%;
}

.tabla td:nth-child(5) {
  width: 11%;
}

.tabla td:last-child {
  width: 11%;
}

.tabla { 
  font-size: 12px;
  text-align: center;
  border-collapse: collapse;
  width: 100%;
  table-layout: auto;
  
}

.tabla th {
  padding: 7px 7px;
  border: solid 1px rgba(110, 110, 110, 0.3);
}

.tabla__head {
  color: #ffffff;
  background-color: #12577c;
}

.tabla__subhead {
  color: black;
  background: #d0e2ec;
}

.tabla__subtitulos {  
    display: flex;
    justify-content: center;
 
}

.tabla__partidas {
  padding: 0em 0.5em;
}

.titulotabcat  {
  padding: 7px 7px;
  color: #ffffff;
  background-color: #12577c;
}

.tabla td {
  padding: 0 0;
  height: 2.5em;
  border: solid 1px rgba(110, 110, 110, .3);
  overflow: hidden;
  text-overflow: clip;
  white-space: normal;
}