* {
  margin: 0px;
  /* outline: 1px solid rgba(197, 113, 113, 0.541) */
}

.form__span {
  cursor: pointer;
  padding-top: 8px;
  margin-right: -3px;
  color: #e70000;
  font-weight: 700;
  font-size: smaller;
}

/*--------seccion tarjetas auxiliares----*/
/* .section__tablaAux {
  position: relative;
  margin: 0 auto;
  margin-top: 6px;
  height: auto;
  width: 95%;
  min-width: 900px;
  background: #ffffff; */
  
  /* margin-bottom: 40px; */
  /* margin-bottom: 1230px; */
/* } */

/*--------- tabla -------------*/

/*------ancho columnas tabla ------*/
.tablaAux  td:first-child {
  width: 4%;
}

.tablaAux td:nth-child(2) {
  width: 4%;
}

.tablaAux td:nth-child(3) {
  width: 10%;
  max-width: 90px;
}

.tablaAux td:nth-child(4) {
  width: 35%;
  max-width: 300px;
}

.tablaAux td:nth-child(5) {
  width: 6%;
}

.tablaAux td:nth-child(6) {
  width: 9%;
}

.tablaAux td:nth-child(7) {
  width: 9%;
}

.tablaAux td:last-child {
  width: 7%;
}