

.form__span {
  cursor: pointer;
  padding-top: 8px;
  margin-right: -3px;
  color: #e70000;
  font-weight: 700;
  font-size: smaller;
}

/*--------- tabla -------------*/

/*------ancho columnas tabla ------*/
.tablaAux  td:first-child {
  width: 4%;
}

.tablaAux td:nth-child(2) {
  width: 4%;
}

.tablaAux td:nth-child(3) {
  width: 10%;
  max-width: 90px;
}

.tablaAux td:nth-child(4) {
  width: 35%;
  max-width: 300px;
}

.tablaAux td:nth-child(5) {
  width: 6%;
}

.tablaAux td:nth-child(6) {
  width: 9%;
}

.tablaAux td:nth-child(7) {
  width: 9%;
}

.tablaAux td:last-child {
  width: 7%;
}