/* * { */
  /* margin: 0px; */
  /* outline: 0.5px solid rgba(139, 77, 77, 0.342);      */
/* } */

/*-----------------------------*/
.tablaCliente td:first-child {
  width: 5%;
  width: fit-content;
  /* max-width: 290px; */
}

.tablaCliente td:nth-child(2) {
  width: 7%;
  width: fit-content;
  /* max-width: 390px; */
}

.tablaCliente td:nth-child(3) {
  width: 5%;
  width: fit-content;
  /* max-width: 400px; */
}

.tablaCliente td:nth-child(4) {
  width: 1%;
  width: fit-content;
  /* max-width: 300px; */
}

.tablaCliente td:nth-child(5) {
  width: 4%;
  width: fit-content;
  /* max-width: 290px; */
}

.tablaCliente td:nth-child(6) {
  width: 1%;
  width: fit-content;
  /* max-width: 290px; */
}

.tablaCliente td:nth-child(7) {
  width: 2%;
  width: fit-content;
  /* max-width: 290px; */
}

.tablaCliente td:nth-child(8) {
  width: 1%;
  width: fit-content;
  /* max-width: 290px; */
}

.tablaCliente td:nth-child(9) {
  width: 1%;
  width: fit-content;
  /* max-width: 290px; */
}

.tablaCliente td:last-child {
  width: 1%;
  width: fit-content;
  /* max-width: 290px; */
}
/*------------------------------*/








