

/*-----------ancho columnas tabla -----------*/

.tablaDashboard td:first-child {
  width: 8%;
  max-width: 290px;
}

.tablaDashboard td:nth-child(2) {
  width: 17%;
  max-width: 390px;
}

.tablaDashboard td:nth-child(3) {
  width: 17%;
  max-width: 400px;
}

.tablaDashboard td:nth-child(4) {
  width: 28%;
  max-width: 390px;
}

.tablaDashboard td:nth-child(5) {
  width: 8%;
  max-width: 290px;
}

.tablaDashboard td:nth-child(6) {
  width: 8%;
  max-width: 290px;
}

.tablaDashboard td:nth-child(7) {
  width: 8%;
  max-width: 290px;
}

.tablaDashboard td:nth-child(8) {
  width: 8%;
  max-width: 290px;
}

.tablaDashboard td:last-child {
  width: 8%;
  max-width: 290px;
}

