* {
  margin: 0px;
  /* outline: 0.5px solid rgba(139, 77, 77, 0.342);      */
}

/*-----------section datos ob------------*/
.contain__datosobra {
  height: auto;
  width: 100%;
  margin-top: 5px;
  margin-bottom: 10px;
  padding-top: 10px;
}


.datosobra {
  width: 96%;
  min-width: auto;
  display: flex;
  margin-left: 22px;
  font-size: 17px;
  background: #fff;
  border-bottom: solid 1px rgb(180, 180, 180);
}

.datosobra__titulo {
  width: 20%;
  min-width: max-content;
  padding-right: 10px;
  text-align: right;
}

.datosobra__dato {
  width: 100%;
  padding-left: 11px;
  font-weight: 1;
}


/*-----------titulo porcentajes------------*/
.contain__tablamini {
  padding: 0px;
  padding-left: 88px;
  width: 50%;
  height: auto;
}

.tablamini__titulo {
  background: #12577c;
  color: #fff;
  padding: 3px;
  margin: 0px;
  text-align: center;
  margin-left: 8px;
  width: 85%;
  min-width: 273px;
}

.tablamini{
  font-size: 12px;
  table-layout: auto;
  border-collapse: collapse;
  width: 85%;
  min-width: 85%;
  margin-left: 8px;
}

.tablamini td {
  padding: 2px;
  text-align: center;
  background-color: #ddd6d6;
  background: #fff;
  border-bottom: solid 1px rgb(180, 180, 180);
}

/*------ancho columnas tabla ------*/
/* -------td--------- */
.tablaEdit td:first-child {
  width: 5%;
  /* width: fit-content; */
}

.tablaEdit td:nth-child(2) {
  width: 27%;
  max-width: 300px;
  /* width: fit-content; */
}

.tablaEdit td:nth-child(3) {
  width: 4%;
  /* width: fit-content; */
}

.tablaEdit td:nth-child(4) {
  width: 6%;
  /* width: fit-content; */
}

.tablaEdit td:nth-child(5) {
  width: 9%;
  /* width: fit-content; */

}

.tablaEdit td:last-child {
  width: 9%;
  /* width: fit-content; */
}

