* {
  margin: 0px;
  /* outline: 1px solid rgba(158, 68, 68, 0.2);      */
}




/*------------seccion titulo tabla----------*/
/* .sectionTabla {
  position: relative;
  margin: 0 auto;
  margin-top: 14px;
  margin-bottom: 12px;
  height: auto;
  min-height: 420px;
  width: 95%;
  min-width: 900px;
  background: #fff;
} */

/* .tabla__nombre {
  width: auto;
  height: 4%;
  background: #a9cde0;
  display: flex;
  justify-content: center;
  padding: 0.7%;

} */

/* .nombre {
  width: 80%;
  height: auto;
  top: 50%;
  text-align: center;
} */

/* .containerTabla {
  padding: 0px;
  width: 100%;
  min-height: 360px;
} */

/*------ancho columnas tabla ------*/
.tablaHerram td:first-child {
  width: 5%;
}

.tablaHerram td:nth-child(2) {
  width: 8%;
  /* max-width: 90px;*/
}

.tablaHerram td:nth-child(3) {
  width: 29%;
  max-width: 300px;
}

.tablaHerram td:nth-child(4) {
  width: 10%;
  width: 9%;

}

.tablaHerram td:nth-child(5) {
  width: 10%;
  width: 9%;

}

.tablaHerram td:nth-child(6) {
  width: 10%;
  width: 9%;

}

.tablaHerram td:nth-child(7) {
  width: 6%;
}

.tablaHerram td:nth-child(8) {
  width: 8%;
}

.tablaHerram td:nth-child(9) {
  width: 9%;
}

.tablaHerram td:last-child {
  width: 7%;
  /*max-width: 200px;*/
}

/*-----------------------------*/

/* .tabla {
  font-size: 12px;
  text-align: center;
  border-collapse: collapse;
  width: 100%;
  table-layout: auto;
} */

/* .tabla td {
  padding: 5px 5px;
  border: solid 1px rgba(110, 110, 110, .3);
  overflow: hidden;
  text-overflow: clip;
  white-space: nowrap;
} */



/* 
.tabla__titulos {
  position: relative;
} */

/* .tabla__titulos td {
  padding: 7px 7px;
  color: #ffffff;
  background-color: #12577c;
  text-overflow: clip;
  overflow: hidden;
  white-space: nowrap;
} */

/* 
.tabla__body:hover {
  background: rgba(145, 145, 145, 0.301);
  border: 1px solid #3838389d;
} */

/*-------------fin de tabla-----------------*/