

/*----------ancho columnas tabla ---------*/
.tablaMO td:first-child {
  width: 6%;
  max-width: 200px;
}

.tablaMO td:nth-child(2) {
  width: 10%;
  max-width: 200px;
}

.tablaMO td:nth-child(3) {
  width: 22%;
  max-width: 200px;

}

.tablaMO td:nth-child(4) {
  width: 10%;
  max-width: 200px;
}

.tablaMO td:nth-child(5) {
  width: 10%;
  max-width: 200px;
}

.tablaMO td:nth-child(6) {
  width: 10%;
  max-width: 200px;
}

.tablaMO td:nth-child(7) {
  width: 10%;
  max-width: 200px;
}

.tablaMO td:last-child {
  width: 10%;
  max-width: 300px;
}

/*---------------------------------------*/
/* .tabla__titulos {
  position: relative;
} */
/* 
.tabla__titulos td {
  padding: 5px 5px;
  color: #ffffff;
  background-color: #12577c;
  text-overflow: clip;
  overflow: hidden;
  white-space: nowrap;
  word-break: break-all;
} */




/*--------------estilo gral de tabla----------------*/

/* .tabla tbody {
  display: table-row;
} */


/* .tabla td {
  padding: 3px 3px;
  border: solid 1px rgb(190, 190, 190);
  overflow: hidden;
  text-overflow: clip;
  white-space: nowrap;
} */


/* 
.tabla__body {
  cursor: pointer;
} */
/* 
.tabla__body:hover {
  background: rgba(145, 145, 145, 0.301);
  border: 1px solid #000000;
} */