* {
  margin: 0px;
  /* outline: 1px solid rgb(158, 32, 32) */
}

.section {
  display: flex;
  min-height: auto;
  background: #ffffff;
  width: 95%;
  min-width: 250px;
  position: relative;
  margin: 0 auto;
  padding: 3px 0px;
  justify-content: center;
}

.section--up {
  margin-top: 4em;
}

/*--------seccion tarjetas de costos----*/
.sectionTabla {
  position: relative;
  margin: 0 auto;
  margin-top: 14px;
  margin-bottom: 12px;
  height: auto;
  width: 95%;
  min-width: 900px;
  background: #fff;
}

.tabla__nombre {
  width: auto;
  height: 4%;
  background: #a9cde0;
  display: flex;
  justify-content: center;
  padding: 0.7%;
  border: solid 1px rgba(110, 110, 110, 0.1);

}

.nombre {
  width: 80%;
  height: auto;
  top: 50%;
  text-align: center;
}


/*----------------- tabla listado de tarjetas-------------*/
.containerTabla {
  padding: 0px;
  width: 100%;
  min-height: 360px;
}

/*-----------ancho columnas tabla listado de tarjetas-----------*/
.tablaTarjetas td:first-child {
  width: 5%;
}

.tablaTarjetas td:nth-child(2) {
  width: 10%;
  max-width: 90px;
}

.tablaTarjetas td:nth-child(3) {
  width: 30%;
  max-width: 300px;
}

.tablaTarjetas td:nth-child(4) {
  width: 5%;
}

.tablaTarjetas td:nth-child(5) {
  width: 7%;
}

.tablaTarjetas td:nth-child(6) {
  width: 7%;
}

.tablaTarjetas td:nth-child(7) {
  width: 7%;
  max-width: 90px;
}

.tablaTarjetas td:nth-child(8) {
  width: 7%;
}

.tablaTarjetas td:nth-child(9) {
  width: 5%;
}

.tablaTarjetas td:nth-child(10) {
  width: 7%;
}

.tablaTarjetas td:nth-child(11) {
  width: 3%;
}

.tablaTarjetas td:last-child {
  width: 6%;
}


/*---------------titulos tabla------------------------*/

.tablaTarjetas__head {
  position: relative;
}

.tablaTarjetas__head td {
  padding: 7px 7px;
  color: #ffffff;
  background-color: #12577c;
  text-overflow: clip;
  overflow: hidden;
  white-space: nowrap;
}


/*--------------estilo  de tabla----------------*/

.tablaTarjetas {
  font-size: 12px;
  text-align: center;
  border-collapse: collapse;
  width: 100%;
  table-layout: auto;
}

.tablemergent {
  font-size: 12px;
  text-align: center;
  border-collapse: collapse;
  width: 100%;
  table-layout: auto;
}

.tablaTarjetas tbody {
  display: table-row;
}

.tablaTarjetas td {
  padding: 7px 7px;
  border: solid 1px rgba(110, 110, 110, 0.3);
  overflow: hidden;
  text-overflow: clip;
}

.tablaTarjetas__body {
  cursor: pointer;
}

.tablaTarjetas__body:hover {
  background: rgba(145, 145, 145, 0.301);
  border: 1px solid #3838389d;
}



/*--------------ventana emergente tarjeta ----------*/
.emergente__contain {
  position: absolute;
  top: 240px;
  left: 5%;
  padding: 0%;
  margin-top: -200px;
  margin-left: 8%;
  margin-bottom: 33px;
  background: #f5f5f5;
  width: 70%;
  min-width: 720px;
  min-height: 400px;
  font-size: 12px;
  border-radius: 3px;
  border: 1px solid rgb(138, 138, 138);
  z-index: 100;
  display: none;
}

.emergente__header {
  width: 100%;
  height: 2em;
  background-color: #0e4563;
  color: #ffffff;
  padding: 0 0.7em;
  display: flex;
  align-items: center;
}

.emergente__titulo {
  width: 99%;
}

.emergente__close {
  display: flex;
  align-items: center;
}

.close__img {
  width: 14px;
  margin-top: 3px;
}


.containDatosTarj {
  margin-left: 1%;
  margin-right: 10%;
  margin-top: 10px;
  width: 98%;
  height: auto;
  background: #ffffff;
  margin-top: 7px;
  border: solid 1px rgba(190, 190, 190);
  border-radius: 3px;
}

.containConceptoTarj {
  display: flex;
  padding: 0.3em;
  border-bottom: solid 1px rgba(190, 190, 190);
}

.containDatos {
  display: flex;
}

.containDatos__datos {
  display: flex;
  flex-wrap: wrap;
  padding: 0.3em;
}

.containDatosTarj p {
  padding-left: 11px;
  padding-bottom: 3px;
}

.contain__tablaemergent {
  margin-left: 1%;
  margin-right: 10%;
  margin-top: 10px;
  width: 98%;
  height: auto;
  background: #ffffff;
}

.tablemergent {
  font-size: 12px;
  text-align: center;
  border-collapse: collapse;
  width: 100%;
  table-layout: auto;
}

/*------ancho columnas tabla tarjetas------*/
.tablemergent th:first-child {
  width: 5%;
}

.tablemergent th:nth-child(2) {
  width: 25%;
}

.tablemergent th:nth-child(3) {
  width: 3%;
}

.tablemergent th:nth-child(4) {
  width: 5%;
}

.tablemergent th:nth-child(5) {
  width: 7%;
}

.tablemergent th:last-child {
  width: 7.5%;
}


/*-------------head tarjeta titulos--------------*/

.tablemergent__thead {
  color: #ffffff;
  background-color: #12577c;
  font-weight: bold;
}

.tablemergent__thead th {
  padding: 3px 3px;
  text-overflow: clip;
  overflow: hidden;
  white-space: nowrap;
}

/*-------------celdas tarjeta----------------*/
.tablemergent td {
  padding: 3px 3px;
  border: solid 1px rgba(110, 110, 110, 0.3);
  overflow: hidden;
  text-overflow: clip;
  white-space: nowrap;
}

.tablemergent tbody th {
  padding: 3px 3px;
  border: solid 1px rgba(110, 110, 110, 0.3)
}


/*-------------indirectos----------------*/
.contain__tablaindir {
  width: 51%;
  margin-left: 48%;
  margin-right: 10%;
  margin-top: 10px;
  margin-bottom: 10px;
  height: auto;
  background: #ffffff;
}

.tablaindir td:first-child {
  width: 27%;
}

.tablaindir td:nth-child(2) {
  width: 10%;
}

.tablaindir td:last-child {
  width: 12%;
}

.tablemergent {
  font-size: 12px;
  text-align: center;
  border-collapse: collapse;
  width: 100%;
  table-layout: auto;
}

.tablaindir td {
  padding: 3px 3px;
  border: solid 1px rgba(110, 110, 110, 0.3);
  margin: 0;
}




/*--------------footer tarjeta ventana emergente---------*/
.footer__emergente {
  width: 100%;
  height: 10px;
  background-color: #12577c;
}