* {
  margin: 0px;
  /* outline: 1px solid rgba(197, 113, 113, 0.541) */
}


/*------ancho columnas tabla ------*/
.tablaTarjeta  td:first-child {
  width: 4%;
}

.tablaTarjeta td:nth-child(2) {
  width: 5%;
}

.tablaTarjeta td:nth-child(3) {
  width: 22%;
  max-width: 80px;
}

.tablaTarjeta td:nth-child(4) {
  width: 3%;
}

.tablaTarjeta td:nth-child(5) {
  width: 6%;
}

.tablaTarjeta td:nth-child(6) {
  width: 6%;
}

.tablaTarjeta td:nth-child(7) {
  width: 6%;
}

.tablaTarjeta td:nth-child(8) {
  width: 6%;
}

.tablaTarjeta td:nth-child(9) {
  width: 6%;
}

.tablaTarjeta td:nth-child(10) {
  width: 6%;
}

.tablaTarjeta td:nth-child(11) {
  width: 4%;
}

.tablaTarjeta td:last-child {
  width: 5%;
}