* {
  margin: 0px;
  /* outline: 0.5px solid rgba(139, 77, 77, 0.342);      */
}

.section {
  display: flex;
  min-height: auto;
  background: #ffffff;
  width: 95%;
  min-width: 250px;
  position: relative;
  margin: 0 auto;
  padding: 3px 0px;
  justify-content: center;
  border: solid 1px rgba(138, 138, 138, 0.514);
}

.section--up {
  margin-top: 4em;
}

.section__h {
  margin: 0.3em  1em 0.3em 1em;  
}


/*----------------------*/

.sectionTabla {
  position: relative;
  margin: 0 auto;
  margin-top: 14px;
  margin-bottom: 12px;
  height: auto;
  width: 95%;
  min-width: 900px;
  background: #fff;
}

.tabla__nombre {
  width: auto;
  height: 4%;
  background: #a9cde0;
  display: flex;
  justify-content: center;
  padding: 0.7%;
  border: solid 1px rgba(110, 110, 110, 0.1);
  /*--pend-*/
}

.nombre {
  width: 80%;
  height: auto;
  top: 50%;
  text-align: center;
}

/*------------------------------*/
.containerTabla {
  padding: 0px;
  width: 100%;
  min-height: 360px;
}

.tablaTarjetas {
  font-size: 12px;
  text-align: center;
  border-collapse: collapse;
  width: 100%;
  table-layout: auto;
}
/*-----------------------------*/
.tablaTarjetas td:first-child {
  width: 8%;
  max-width: 290px;
}

.tablaTarjetas td:nth-child(2) {
  width: 17%;
  max-width: 390px;
}

.tablaTarjetas td:nth-child(3) {
  width: 17%;
  max-width: 400px;
}

.tablaTarjetas td:nth-child(4) {
  width: 28%;
  max-width: 390px;
}

.tablaTarjetas td:nth-child(5) {
  width: 8%;
  max-width: 290px;
}

.tablaTarjetas td:nth-child(6) {
  width: 8%;
  max-width: 290px;
}

.tablaTarjetas td:nth-child(7) {
  width: 8%;
  max-width: 290px;
}

.tablaTarjetas td:nth-child(8) {
  width: 8%;
  max-width: 290px;
}

.tablaTarjetas td:last-child {
  width: 8%;
  max-width: 290px;
}
/*------------------------------*/

.tablaTarjetas__head {
  position: relative;
}

.tablaTarjetas tbody {
  display: table-row;
}

.tablaTarjetas__head td {
  padding: 7px 7px;
  color: #ffffff;
  background-color: #12577c;
  text-overflow: clip;
  overflow: hidden;
  white-space: nowrap;
}

.tablaTarjetas td {
  padding: 7px 7px;
  border: solid 1px rgba(110, 110, 110, 0.3);
  overflow: hidden;
  text-overflow: clip;
  white-space: nowrap;
}


.tablaTarjetas__body {
  cursor: pointer;
}

.tablaTarjetas__body:hover {
  background: rgba(145, 145, 145, 0.301);
  border: 1px solid #3838389d;
}








